<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xin.liaozhixing.mapper.user.MvUserMapper" >

    <resultMap id="userModel" type="xin.liaozhixing.model.user.MvUserModel">
        <result column="mvus_id" property="mvusId"></result>
        <result column="mvus_mail" property="mvusMail"></result>
        <result column="mvus_name" property="mvusName"></result>
        <result column="mvus_gender" property="mvusGender"></result>
        <result column="mvus_mobile" property="mvusMobile"></result>
        <result column="mvus_role_id" property="mvusRoleId"></result>
        <result column="mvrl_name" property="mvrlName"></result>
        <result column="host_name" property="hostName"></result>
        <result column="mvus_login_name" property="mvusLoginName"></result>
        <result column="mvus_organization_id" property="mvusOrganizationId"></result>
        <result column="mogz_name" property="mogzName"></result>
    </resultMap>

    <resultMap id="userQueryModel" type="xin.liaozhixing.model.user.MvUserQueryModel">
        <result property="mvusId" column="mvus_id"></result>
        <result property="mvusName" column="mvus_name"></result>
        <result property="mvusLoginName" column="mvus_login_name"></result>
        <result property="mvusGender" column="mvus_gender"></result>
        <result property="mvusMobile" column="mvus_mobile"></result>
        <result property="mvusMail" column="mvus_mail"></result>
        <result property="mvusOrganizationName" column="mvus_organization_name"></result>
        <result property="mvusRoleName" column="mvus_role_name"></result>
        <result property="mvusFamilyHostName" column="mvus_family_host_name"></result>
    </resultMap>

    <select id="getUser" resultMap="userModel">
        SELECT
            mvus.mvus_id,
            mvus.mvus_mail,
            mvus.mvus_name,
            mvus.mvus_gender,
            mvus.mvus_mobile,
            mvus.mvus_role_id,
            mvrl.mvrl_name,
            u.mvus_name AS host_name,
            mvus.mvus_login_name,
            mvus.mvus_organization_id,
            mogz.mogz_name
        FROM
            mv_user mvus
            LEFT JOIN mv_role mvrl ON mvus.mvus_role_id = mvrl.mvrl_id
            LEFT JOIN mv_family mfml ON mvus.mvus_family_id = mfml.mfml_id
            LEFT JOIN mv_user u ON u.mvus_id = mfml.mfml_host_user_id
            LEFT JOIN mv_organization mogz ON mvus.mvus_organization_id = mogz.mogz_id
        WHERE
            1 = 1
            <if test="user.mvusLoginName != null and user.mvusLoginName != ''">
                AND mvus.mvus_login_name = #{user.mvusLoginName}
            </if>
            <if test="user.mvusPassword != null and user.mvusPassword != ''">
                AND mvus.mvus_password = #{user.mvusPassword}
            </if>
    </select>

    <select id="getUserByExample" resultMap="userQueryModel">
        SELECT
            mvus.mvus_id,
            mvus.mvus_name,
            mvus.mvus_login_name,
            mvus.mvus_gender,
            mvus.mvus_mobile,
            mvus.mvus_mail,
            mogz.mogz_name AS mvus_organization_name,
            mvrl.mvrl_name AS mvus_role_name,
            u.mvus_name AS mvus_family_host_name
        FROM
            mv_user mvus
        LEFT JOIN mv_organization mogz ON mogz.mogz_id = mvus.mvus_organization_id
        LEFT JOIN mv_role mvrl ON mvrl.mvrl_id = mvus.mvus_role_id
        LEFT JOIN mv_family mfml ON mfml.mfml_id = mvus.mvus_family_id
        LEFT JOIN mv_user u ON u.mvus_id = mfml.mfml_host_user_id
        WHERE
            1 = 1
            <if test="example.mvusName!=null and example.mvusName!=''">
                AND mvus.mvus_name LIKE CONCAT( '%', #{example.mvusName}, '%' )
            </if>
            <if test="example.mvusOrganizationName!=null and example.mvusOrganizationName!=''">
                AND mogz.mogz_name LIKE CONCAT( '%', #{example.mvusOrganizationName}, '%' )
            </if>
            <if test="example.mvusRoleName!=null and example.mvusRoleName!=''">
                AND mvrl.mvrl_name LIKE CONCAT( '%', #{example.mvusRoleName}, '%' )
            </if>
            <if test="example.mvusLoginName!=null and example.mvusLoginName!=''">
                AND mvus.mvus_login_name LIKE CONCAT( '%', #{example.mvusLoginName}, '%' )
            </if>

    </select>

    <insert id="addUser">
        INSERT INTO mv_user ( mvus_name, mvus_login_name, mvus_password, mvus_mail, mvus_mobile, mvus_gender, mvus_organization_id, mvus_role_id, creator, create_time, modifier, modify_time )
        VALUES
            (
                #{user.mvusName},
                #{user.mvusLoginName},
                '111111',
                #{user.mvusMail},
                #{user.mvusMobile},
                #{user.mvusGender},
                #{user.mvusOrganizationId},
                #{user.mvusRoleId},
                #{user.creator},
                SYSDATE( ),
                #{user.modifier},
                SYSDATE( )
            )
    </insert>

    <delete id="removeUser">
        DELETE
        FROM
        mv_user
        WHERE
        1 = 1
        AND mvus_id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getAnswerer" resultMap="userModel">
        SELECT
            mvus.mvus_id,
            mvus.mvus_mail,
            mvus.mvus_name,
            mvus.mvus_gender,
            mvus.mvus_mobile,
            mvus.mvus_role_id,
            mvrl.mvrl_name,
            u.mvus_name AS host_name,
            mvus.mvus_login_name,
            mvus.mvus_organization_id,
            mogz.mogz_name
        FROM
            mv_user mvus
            LEFT JOIN mv_role mvrl ON mvus.mvus_role_id = mvrl.mvrl_id
            LEFT JOIN mv_family mfml ON mvus.mvus_family_id = mfml.mfml_id
            LEFT JOIN mv_user u ON u.mvus_id = mfml.mfml_host_user_id
            LEFT JOIN mv_organization mogz ON mvus.mvus_organization_id = mogz.mogz_id
        WHERE
            1=1
            <if test="example.mvusOrganizationId!=null">
                and mvus.mvus_organization_id = #{example.mvusOrganizationId}
                and mvus.mvus_role_id in (5,6)
            </if>
            or mvus.mvus_organization_id = 1
    </select>
</mapper>