<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xin.liaozhixing.mapper.user.MvUserMapper" >

    <resultMap id="userModel" type="xin.liaozhixing.model.user.MvUserModel">
        <result column="mvus_id" property="mvusId"></result>
        <result column="mvus_mail" property="mvusMail"></result>
        <result column="mvus_name" property="mvusName"></result>
        <result column="mvus_gender" property="mvusGender"></result>
        <result column="mvus_mobile" property="mvusMobile"></result>
        <result column="mvus_role_id" property="mvusRoleId"></result>
        <result column="mvrl_name" property="mvrlName"></result>
        <result column="host_name" property="hostName"></result>
        <result column="mvus_login_name" property="mvusLoginName"></result>
        <result column="mvus_organization_id" property="mvusOrganizationId"></result>
        <result column="mogz_name" property="mogzName"></result>
    </resultMap>

    <select id="getUser" resultMap="userModel">
        SELECT
            mvus.mvus_id,
            mvus.mvus_mail,
            mvus.mvus_name,
            mvus.mvus_gender,
            mvus.mvus_mobile,
            mvus.mvus_role_id,
            mvrl.mvrl_name,
            u.mvus_name AS host_name,
            mvus.mvus_login_name,
            mvus.mvus_organization_id,
            mogz.mogz_name
        FROM
            mv_user mvus
            LEFT JOIN mv_role mvrl ON mvus.mvus_role_id = mvrl.mvrl_id
            LEFT JOIN mv_family mfml ON mvus.mvus_family_id = mfml.mfml_id
            LEFT JOIN mv_user u ON u.mvus_id = mfml.mfml_host_user_id
            LEFT JOIN mv_organization mogz ON mvus.mvus_organization_id = mogz.mogz_id
        WHERE
            1 = 1
            <if test="user.mvusLoginName != null and user.mvusLoginName != ''">
                AND mvus.mvus_login_name = #{user.mvusLoginName}
            </if>
            <if test="user.mvusPassword != null and user.mvusPassword != ''">
                AND mvus.mvus_password = #{user.mvusPassword}
            </if>
    </select>


</mapper>