<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xin.liaozhixing.mapper.organization.MvOrganizationMapper" >

    <resultMap id="existOrganization" type="xin.liaozhixing.model.organization.MvOrganizationModel">
        <result column="mogz_id" property="mogzId"></result>
        <result column="mogz_name" property="mogzName"></result>
        <result column="creator" property="creator"></result>
        <result column="create_time" property="createTime"></result>
        <result column="modifier" property="modifier"></result>
        <result column="modify_time" property="modifyTime"></result>
    </resultMap>

    <select id="getOrganizationByExample" resultMap="existOrganization">
        SELECT
            mogz.mogz_id,
            mogz.mogz_name,
            u.mvus_name AS creator,
            DATE_FORMAT( mogz.create_time, '%Y-%m-%d %H:%i:%s' ) AS create_time,
            m.mvus_name AS modifier,
            DATE_FORMAT( mogz.modify_time, '%Y-%m-%d %H:%i:%s' ) AS modify_time
        FROM
            mv_organization mogz
            LEFT JOIN mv_user u ON u.mvus_id = mogz.creator
            LEFT JOIN mv_user m ON m.mvus_id = mogz.modifier
        WHERE
            1 = 1
            <if test="example.mogzId!=null">
                AND mogz.mogz_id = #{example.mogzId}
            </if>
            <if test="example.mogzName!=null and example.mogzName!=''">
                AND mogz.mogz_name LIKE CONCAT('%',#{example.mogzName},'%')
            </if>
    </select>

    <update id="modifyOrganization">
        UPDATE mv_organization mogz
        SET mogz.mogz_name = #{model.mogzName},
            mogz.modifier = #{model.modifier},
            mogz.modify_time = SYSDATE()
        WHERE
            mogz.mogz_id = #{model.mogzId}
    </update>

    <insert id="addOrganization">
        INSERT INTO mv_organization ( mogz_name, creator, create_time, modifier, modify_time )
        VALUES
            ( #{model.mogzName}, #{model.creator}, SYSDATE( ), #{model.modifier}, SYSDATE( ) )
    </insert>

    <delete id="removeOrganization">
        DELETE
        FROM
            mv_organization
        WHERE
            1=1
          and mogz_id in
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>

    </delete>
</mapper>