<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xin.liaozhixing.mapper.advise.MvAdviceMapper" >

    <resultMap id="mvAdviseModel" type="xin.liaozhixing.model.advise.MvAdviseModel">
        <result column="madv_id" property="madvId"></result>
        <result column="madv_title" property="madvTitle"></result>
        <result column="madv_content" property="madvContent"></result>
        <result column="madv_status" property="madvStatus"></result>
        <result column="madv_to_user_id" property="madvToUserId"></result>
        <result column="creator" property="creator"></result>
        <result column="create_time" property="createTime"></result>
        <result column="modifier" property="modifier"></result>
        <result column="modify_time" property="modifyTime"></result>
    </resultMap>

    <resultMap id="mvAdviseResponseModel" type="xin.liaozhixing.model.advise.MvAdviseResponseModel">
        <result column="mvar_id" property="mvarId"></result>
        <result column="madv_content" property="madvContent"></result>
        <result column="mvar_content" property="mvarContent"></result>
        <result column="mvar_advise_id" property="mvarAdivseId"></result>
        <result column="creator" property="creator"></result>
        <result column="create_time" property="createTime"></result>
        <result column="modifier" property="modifier"></result>
        <result column="modify_time" property="modifyTime"></result>
    </resultMap>

    <select id="getMvAdviseByExample" resultMap="mvAdviseModel">
        SELECT
            madv.madv_id,
            madv.madv_title,
            madv.madv_content,
            (case when madv.madv_status='0' then '未回复' else '已回复' end) as madv_status,
            t.mvus_name AS madv_to_user_id,
            c.mvus_name AS creator,
            DATE_FORMAT( madv.create_time, '%Y-%m-%d %H:%i:%s' ) AS create_time,
            m.mvus_name AS modifier,
            DATE_FORMAT( madv.modify_time, '%Y-%m-%d %H:%i:%s' ) AS modify_time
        FROM
            mv_advise madv
            LEFT JOIN mv_user t ON t.mvus_id = madv.madv_to_user_id
            LEFT JOIN mv_user c ON c.mvus_id = madv.creator
            LEFT JOIN mv_user m ON m.mvus_id = madv.modifier
        WHERE
            1 = 1
            <if test="example.madvTitle!=null and example.madvTitle!=''">
                AND madv.madv_title LIKE concat('%',#{example.madvTitle},'%')
            </if>
            <if test="example.madvToUserId!=null and example.madvToUserId!=''">
                AND madv.madv_to_user_id = #{example.madvToUserId}
            </if>
            <if test="example.creator!=null and example.creator!=''">
                AND madv.creator = #{example.creator}
            </if>
            <if test="example.madvStatus!=null and example.madvStatus!=''">
                AND madv.madv_status = #{example.madvStatus}
            </if>

    </select>

    <select id="getMvAdviseResponseByExample" resultMap="mvAdviseResponseModel">
        SELECT
            mvar.mvar_id,
            madv.madv_content,
            mvar.mvar_content,
            mvar.mvar_advise_id,
            c.mvus_name AS creator,
            DATE_FORMAT( mvar.create_time, '%Y-%m-%d %H:%i:%s' ) AS create_time,
            m.mvus_name AS modifier,
            DATE_FORMAT( mvar.modify_time, '%Y-%m-%d %H:%i:%s' ) AS modify_time
        FROM
          mv_advise_response mvar
          LEFT JOIN mv_advise madv ON madv.madv_id = mvar.mvar_advise_id
          LEFT JOIN mv_user c ON c.mvus_id = mvar.creator
          LEFT JOIN mv_user m ON m.mvus_id = mvar.modifier
        WHERE
        1 = 1
            <if test="example.mvarAdivseId!=null">
                AND mvar_advise_id = #{example.mvarAdivseId}
            </if>
    </select>

    <insert id="addAdvise">
        INSERT INTO mv_advise ( madv_title, madv_content, madv_to_user_id, madv_status, creator, create_time, modifier, modify_time )
        VALUES
            (#{advise.madvTitle}, #{advise.madvContent}, #{advise.madvToUserId}, '0', #{advise.creator}, SYSDATE( ), #{advise.modifier}, SYSDATE( ) )
    </insert>

    <insert id="addAdviseResponse">
        INSERT INTO mv_advise_response ( mvar_advise_id, mvar_content, creator, create_time, modifier, modify_time )
        VALUES
            ( #{adviseResponse.mvarAdivseId}, #{adviseResponse.mvarContent}, #{adviseResponse.creator}, SYSDATE( ), #{adviseResponse.modifier}, SYSDATE( ) )
    </insert>

    <update id="modifyAdvice">
        UPDATE mv_advise
        SET madv_status = '1',
        modifier = #{advise.modifier},
        modify_time = SYSDATE( )
        WHERE
            madv_id = #{advise.madvId}
    </update>
</mapper>