<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:mf="http://www.sinoservices.com/schema/modular-interface"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	 http://www.sinoservices.com/schema/modular-interface classpath:sns-modular-interface-1.0.xsd
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
	
	<!--<mf:InterfaceDependOnRegistry id="InterfaceDependOnRegistry">
		<mf:module name="basicData" version="" endpoint="auto" >
				<mf:facade>com.sinoservices.scc.basicData.facade.SerialNoFacade</mf:facade>
		</mf:module>
	</mf:InterfaceDependOnRegistry>	-->
   
	<bean name="RPCSessionWMS" class="com.sinoservices.framework.core.rpc.spring.RPCSessionFactoryBean" >
		<property name="url" value="http://192.168.0.148:8090/WMS/servlet/RPCServlet"></property>
		<property name="protocol" value="SERIALIZE"></property>
	</bean> 
	
	<bean name="RPCSessionTES" class="com.sinoservices.framework.core.rpc.spring.RPCSessionFactoryBean" >
		<!--<property name="url" value="http://172.88.50.7:8080/TES/servlet/RPCServlet"></property>-->
		<property name="url" value="http://localhost:9080/TES/servlet/RPCServlet"></property>
		<property name="protocol" value="SERIALIZE"></property>
	</bean>
	<bean name="RPCSessionBMS" class="com.sinoservices.framework.core.rpc.spring.RPCSessionFactoryBean" >
		<property name="url" value="http://localhost:9080/BMS/servlet/RPCServlet"></property>
		<property name="protocol" value="SERIALIZE"></property>
	</bean>
</beans>