<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd
	http://www.springframework.org/schema/jee
	http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	

	<bean id="dataSourceEdi" class="org.springframework.jdbc.datasource.LazyConnectionDataSourceProxy">
		<property name="targetDataSource">
			<ref local="mainDataSourceEdi"/>
		</property>
	</bean>
	<bean id="mainDataSourceEdi" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc.edi.driverClassName}"  />
		<property name="url" value="${jdbc.edi.url}"  />
		<property name="username" value="${jdbc.edi.username}"  />
		<property name="password" value="${jdbc.edi.password}"  />
		<property name="initialSize" value="30"  />
        <property name="logAbandoned" value="true"  />
        <property name="maxActive" value="100"  />
        <property name="maxWait" value="310000" />
	    <property name="minIdle" value="2" />
		<property name="maxOpenPreparedStatements" value="500" />
	    <property name="removeAbandoned" value="true"/> 
	    <property name="removeAbandonedTimeout" value="300"/> 
        <property name="poolPreparedStatements" value="false" />
        <property name="defaultAutoCommit" value="true" /> 
	</bean>
	
	<!--weblogic数据库连接池
	<bean id="dataSourceEdi" class="org.springframework.jndi.JndiObjectFactoryBean">     
           <property name="jndiName">  
               <value>lmsDataSource</value>  
           </property>    
           <property name="resourceRef">  
               <value>true</value>  
           </property>         
           <property name="jndiEnvironment">   
            <props>   
                <prop key="java.naming.provider.url">${weblogic.url}</prop>   
                <prop key="java.naming.factory.initial">weblogic.jndi.WLInitialContextFactory</prop>            
             </props>      
           </property>    
    </bean> -->
    
</beans>
